<p *ngIf="!auth.isAuth" style="color:red">You must be logged in if you want to add likes and delete computer builds</p>
<p *ngIf="serv.load">Loading...</p>
<div *ngIf="!serv.load">
  <div *ngFor="let modification of modifications" style="border: black 1px groove">
    ID: {{modification.id}} <br>
    Name: {{modification.name}} <br>
    Description: {{modification.description}} <br>
    Author_name: {{modification.author_name}} <br>
    Number of likes: {{modification.likes}} <button *ngIf="auth.isAuth" (click)="like(modification)">Like</button><br>
    <button *ngIf="auth.isAuth" (click)="delete(modification.id)">Delete</button> <br>
    <ul>
      <li *ngFor="let component of modification.components" style="border: green 1px groove">
        ID: {{component.id}} <br>
        Type: {{component.type}} <br>
        Slug: {{component.slug}} <br>
        Name: {{component.name}} <br>
        Rating: {{component.rating}} <br>
        Price: {{component.price}} <br>
        <img [src]="component.images" width="50px">
        <p *ngFor="let spec of component.spec" style="border: yellow 1px groove">
          Slug: {{spec.slug}}; Label: {{spec.label}}; Value: {{spec.value}}
        </p>
      </li>
    </ul>
  </div>
  <button *ngIf="currentPage.previous !== null" (click)="newPage(currentPage.previous)">Previous page</button>
  <button *ngIf="currentPage.next !== null" (click)="newPage(currentPage.next)">Next page</button>
</div>
