<div>
  <label>Name</label>
  <input [(ngModel)]="modification.name">
  <br>
  <label>Description</label>
  <input [(ngModel)]="modification.description">
  <br>
  <label>Author name</label>
  <input [(ngModel)]="modification.author_name">
  <br>
  <button *ngIf="auth.isAuth" (click)="post()">Add modification</button> <br>
  <p *ngFor="let component of modification.components">
    {{component.type}} <br>
    {{component.name}} <br>
    {{component.price}} <br>
    <button (click)="del(component.type)">Delete</button>
    <img src="{{component.images}}" width="200px">
  </p>
</div>
<div>
  <button (click)="getList('cpu')">CPU</button>
  <button (click)="getList('gpu')">GPU</button>
  <button (click)="getList('motherboard')">Motherboard</button>
  <button (click)="getList('ram')">RAM</button>
  <button (click)="getList('memory')">Memory</button>
  <button (click)="getList('cooling')">Cooling</button>
  <button (click)="getList('housing')">Housing</button>
  <button (click)="getList('power_supply_unit')">PowerSupplyUnit</button>
</div>

<p *ngIf="serv.load">Loading...</p>
<div *ngIf="!serv.load">
  <p *ngFor="let basic of list" style="border: 1px black groove; margin: 5px; padding: 5px;">
    Type: {{basic.type}} <br>
    Id: {{basic.id}} <br>
    Name: {{basic.name}} <br>
    Price: {{basic.price}} <br>
    Rating: {{basic.rating}} <br>
    <img src="{{basic.images}}" width="100px"> <br>
    <span *ngFor="let special of basic.spec" style="border: 1px green groove; margin: 5px;">
      Slug: {{special.slug}}; Label: {{special.label}}; Value: {{special.value}} <br>
    </span>
    <button (click)="add(basic)">Add</button>
  </p>
  <button *ngIf="currentPage.previous !== null" (click)="newPage(currentPage.previous)">Previous page</button>
  <button *ngIf="currentPage.next !== null" (click)="newPage(currentPage.next)">Next page</button>
</div>
